<header>
    <main>
        <form action="/artist-search", method="GET">
            <label>
                <input type="text" name="artist" placeholder="Put Artist">
            </label>
            <p><button type="submit">Search for an Artist</button></p>
        </form>
    </main>
</header>