<div id="result">
    {{#each data}}
    <div class="card">
        <img src="{{images.0.url}}">
        <div>
            <h2>{{name}}</h2>
            <a href="/albums/{{id}}">View Albums</a>
        </div>

    </div>
    {{/each}}
</div>