<div id="view-label">
    <h2>Title</h2>
    <h2>Listen</h2>
</div>
{{#each data}}
<div class="view-track">
    <h2>bddijojigiyg</h2>
    <audio controls src="/media/cc0-audio/t-rex-roar.mp3"></audio>
</div>
{{/each}}