* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    margin: 0;
    min-height: 100vh;
    background-image: url("/images/spotify-background.jpeg");
    background-size: cover;
    background-position: center;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

main {
    flex-direction: column;
    padding-inline: 250px;
    padding-block: 50px;
    margin: auto;
    bborder: solid 1px;
    background-color: rgba(254, 254, 254, 0.5);
}

main p {
    text-align: center;
}

main p button {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border: 0;
    padding: 10px;
}

main input {
    width: 400px;
    height: 35px;
}

#result {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.card {
    border: solid 2px;
    width: 300px;
    text-align: center;
    background-color: #4d4d4d;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #ff5a5b;
}

.card h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 15px;

}

.card div {
    height: 80px;
}